body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;

}
.grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    

}

.header{
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

.sidebar{
    grid-area: sidebar;
    background-color: grey;
    padding: 0;
    border-radius: 1px solid white;
}
.main-content{
    grid-area: main;
    background-color: white;
    padding: 1rem;
}
.footer{
    grid-area: footer;
    background-color: brown;
    color: white;
    text-align: center;
    padding: 0;



}
